@{ ViewData["Title"] = "Home Page"; }

<figure style="width: 1500px; height: 400px">
    <span class="trs next spanteste"></span>
    <span class="trs prev spanteste"></span>
    <div id="slider" style="width: 100%; height: 50%">
        <a style="border:none;" href="#" class="trs"><img style="width: 1000px; height:400px; border: none;" src="/img/banners/Inicial.png" alt="Aqui você encontrará:" /></a>
        <a style="border:none;" href="#" class="trs"><img style="width: 1000px; height: 400px; border: none;" src="/img/banners/Festas.png" alt="Diversos tipos de festas!" /></a>
        <a style="border:none;" href="#" class="trs"><img style="width: 1000px; height: 400px; border: none;" src="~/img/banners/Palestras.png" alt="Diversos tipos de palestras!" /></a>
        <a style="border:none;" href="#" class="trs"><img style="width: 1000px; height: 400px; border: none;" src="~/img/banners/Diversão.png" alt="Diversão garantida!" /></a>
    </div>
    <figcaption></figcaption>
</figure>
