<!DOCTYPE html>
<html lang="en">

<head>

    <link href="~/css/ruang-admin.css" rel="stylesheet" />
</head>

<body style="background-color:aqua;">

    <section id="about" class="about">
        <div class="container aos-init aos-animate" data-aos="fade-up">

            <div class="section-title">
                <h2>Sobre Nós</h2>
            </div>
            <hr />
            <div class="row content">
                <div class="col-lg-6">
                    <p style="font-size:18pt">
                        Nossa equipe criou este site com o intuito de:
                    </p>
                    <ul>
                        <div>
                            <li style="font-size:14pt"><i class="ri-check-double-line"></i> Visualizar eventos em sua região; </li>
                            <li style="font-size:14pt"><i class="ri-check-double-line"></i> Criar seus próprios eventos; </listyle="font-size:18pt">
                            <li style="font-size:14pt"><i class="ri-check-double-line"></i> Situar-se sobre as programações da cidade.</li>
                        </div>
                    </ul>
                    <br />

                    <div style="font-size:14pt">
                        <spam style="">
                            Começamos a produzir este site no dia 20/08/2021 e finalizamos dia 20/10/2021.
                            </br>
                        </spam>

                        <spam>
                            Nossos criadores são: Amanda Cristina Suave Vieira, Isadora de Souza, Caio Fabeni e Adriel Lindner.
                        </spam>
                    </div>
                    </div>
                <div class="col-lg-6 pt-4 pt-lg-0">

                    <p>
                        <img style="width: 75%; height: 75%;" src="/img/logo/about-us.png" />
                    </p>
                    
                </div>


            </div>

        </div>
    </section>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/ruang-admin.min.js"></script>

</body>

</html>