@model Domains.Evento

<!DOCTYPE html>
<html lang="en">

    <head>

        <style>

            div.flex-content {
                display: flex;
            }
        </style>

    </head>

    <body>

        <div>
            <div>
                <center>
                    <h1> Nome Do Evento </h1>
                    <img src="/img/boy.png" alt="" />
                    <div class="flex-content">
                        <div>
                            <p>Organizado por</p>
                        </div>
                        <div>
                            <p>@Model.Organizador</p>
                        </div>
                    </div>

                </center>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="profile-statistics">
                        <div class="text-center mt-4 border-bottom-1 pb-3">
                            <div class="row">
                                <div class="col">
                                    <h3 class="m-b-0">VALOR AQUI</h3><span>Marcaram Presença</span>
                                </div>
                                <div class="col">
                                    <h3 class="m-b-0">VALOR AQUI</h3><span>Maximo De Pessoas</span>
                                </div>
                                <div class="col">
                                    <h3 class="m-b-0">100</h3><span>Vizualização</span>
                                </div>
                            </div>
                            <br />
                            <div class="flex-content">
                                <button style="height:50px; align-content:baseline" class="btn btn-primary mr-3">
                                    <span class="mr-3">
                                        <i class="fa fa-thumbs-up"></i>
                                    </span>Like
                                </button>
                                <button style="height: 50px;" class="btn btn-primary mr-3">
                                    <span>
                                        <i class="fa fa-thumbs-down"></i>
                                    </span>Dislike
                                </button>
                                <button style=" height: 50px;" href="CAMINHO PARA QUAL REDIRECIONA" class="btn btn-primary mr-3">
                                    <span>
                                        <i class="fa fa-thumbs-down"></i>
                                    </span>Seguir
                                </button>
                            </div>

                        </div>
                    </div>
                    <div class="profile-blog pt-3 border-bottom-1 pb-1">
                        <h4 class="text-primary d-inline">Descrição Do Evento</h4><a href="javascript:void()" class="pull-right f-s-16"></a>
                        <p>Descrição Do Evento vem Aqui</p>
                    </div>
                    <div class="profile-interest mt-4 pb-2 border-bottom-1">
                        <h4 class="text-primary d-inline">Tags</h4>
                        <!--
                           <div>
                            <p>Festas</p>
                        </div>
                        <div>
                            <p>Eventos Gerais</p>
                        </div>
                        <div>
                            <p>Palestras</p>
                        </div>
                        -->
                        <p> Tags Aqui</p>
                        <br />
                        <h4 class="text-primary d-inline">Datas</h4>
                        <p>DATA DE INICIO</p> <p>DATA DE FIM</p>
                        <br />
                        <h4 class="text-primary d-inline">Endereço</h4>
                        <p>ENDEREÇO AQUI</p>
                        <br />
                        <h4 class="text-primary d-inline">Valor R$</h4>
                        <p>VALOR AQUI</p>
                        <br />
                        <h4 class="text-primary d-inline">Idade Minima</h4>
                        <p>IDADE MINIMA AQUI</p>
                        <br />
                        <h4 class="text-primary d-inline">Precisa Apresentar Documentos?</h4>
                        <p>RESPOSTA AQUI</p>
                        <br />
                        <h4 class="text-primary d-inline">Qual O Tipo Do Evento</h4>
                        <p>RESPOSTA AQUI</p>
                        <br />
                        <h4 class="text-primary d-inline">Quantidade Máxima De Pessoas</h4>
                        <p>RESPOSTA AQUI</p>
                        <br />



                    </div>
                    <br />

                </div>
            </div>


        </div>


    </body>

</html>